.btnIcon {
  border: none;
  background: none;
  color: inherit;
}
.left-panel {
  min-height: 100vh;
  min-width: 200px;
  position: relative;
}
.btn-group {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.no-border {
  border-radius: 0 !important;
}
.none-files {
  text-align: center;
  font-size: 30px;
  color: #999;
  margin-top: 140px;
}